<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4" id="day">Martin Luther King Day</h1>
    </div>
  </div>
  
  <div class="container">
    <div class="row container">
      <div class="col-md mt-3 mb-3">
        <p>
          Celebrado toda terceira segunda-feira do mês de janeiro, o Martin Luther King Day – MLK Day é um feriado
          nacional estadunidense em homenagem a Martin Luther King Jr. Oficializado em 1983, a data se aproxima do
          aniversário do principal militante da não violência contra a discriminação racial na legislação norte-americana
          e é um dos três feriados nacionais nos Estados Unidos em comemoração a uma pessoa. Nesta ultima sexta-feira, 15 de
          janeiro de 2021, Martin Luther King completaria 92 anos.
        </p>
        <p>
          A proposta do Martin Luther King Day como feriado foi promovida logo após seu assassinato, em 1968. Após sua
          morte, o representante democrata dos Estados Unidos, John Conyers, e o senador republicano dos Estados Unidos,
          Edward Brooke, apresentaram um projeto no Congresso para tornar o aniversário de King um feriado nacional.
          Somente 15 anos depois que a data passou a ser celebrada, após várias tentativas de grupos que viam Luther King
          como referência na luta negra.
        </p>
        <p>
          Martin Luther King é o autor da celebre frase “I have a dream”, entoada nas escadas do Monumento a Lincoln, na
          cidade de Washington, em 1963, para mais de 250 mil pessoas. Esta foi a manifestação civil mais importante
          promovida por Luther King, que em sua trajetória, percorreu mais de nove milhões de quilômetros, em 13 anos de
          militância, falando mais de 2.500 vezes em público.
        </p>
      </div>
      <div class="col-md mt-3 mb-5">
        <p>
          Nascido em 1929, Luther King foi um pastor batista e um dos principais líderes negro na luta contra a
          discriminação racial nos Estados Unidos. Em suas ações, reivindicava por postos de trabalho e salários mais
          dignos para a população negra que vivia em segregação social. O ativista defendeu ainda os direitos das mulheres
          e foi contrário à Guerra do Vietnã.
        </p>
        <p>
          Um dos episódios que marcaram a trajetória de Luther King foi o boicote aos ônibus da cidade Montgomery, em
          1955, onde foi um dos líderes. O ato de protesto foi em defesa de Rosa Parks, mulher negra presa ao negar ceder
          seu lugar a uma mulher branca no ônibus. O boicote ao transporte permaneceu por 382 dias, entretanto, neste
          período, Martin Luther King foi preso, teve a casa bombardeada e sofreu atentados contra sua vida. O ato
          resultou na vitória do movimento, quando a Suprema Corte Americana tornou ilegal a discriminação racial em
          transportes públicos.
        </p>
        <img src="https://i.imgur.com/26SVGZI.jpg" class="img-fluid" alt="Martin Luther King Jr.">
      </div>
    </div>
  </div>  