<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link text-dark font-14" href="#sobre">
      <img src="https://i.imgur.com/A8PtJtS.png" width="50" alt="Martin Luther King Jr." class="rounded">
      Martin Luther King Jr.
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <a class="nav-link ml-auto text-dark font-14" href="#day">Martin Luther King Day</a>
    </div>
  </nav>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="https://i.imgur.com/Q3KBg2d.jpg" width="1000" height="600"
          alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="https://i.imgur.com/UvjZttU.jpg" width="1000" height="600"
          alt="Segundo Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</header>
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4" id="sobre">Martin Luther King Jr.</h1>
  </div>
</div>

<div class="container">
  <div class="row container">
    <div class="col-md mt-3 mb-3">
      <p>
        Martin Luther King Jr. (nascido Michael King Jr. Atlanta, 15 de janeiro de 1929 — Memphis, 4 de abril de 1968)
        foi um pastor batista e ativista político estadunidense que se tornou a figura mais proeminente e líder do
        movimento dos direitos civis nos Estados Unidos de 1955 até seu assassinato em 1968. King é amplamente conhecido
        pela luta dos direitos políticos através da não-violência e desobediência civil, inspirado por suas crenças
        cristãs e o ativismo não-violento de Mahatma Gandhi.
      </p>
      <p>
        King liderou em 1955 o boicote aos ônibus de Montgomery e posteriormente se tornou o primeiro presidente da
        Conferência da Liderança Cristã do Sul (abreviado em inglês como SCLC). Como presidente da SCLC, ele liderou sem
        sucesso em 1962 a luta contra a segregação em Albany, e foi um dos participantes que organizaram os protestos
        não-violentos de 1963 em Birmingham. King ajudou na organização da Marcha sobre Washington onde ele ditou seu
        famoso discurso "Eu Tenho um Sonho" (em inglês: "I Have a Dream") aos pés do Memorial de Lincoln.
      </p>
      <img src="https://i.imgur.com/Hq3doey.jpg" class="img-fluid" alt="Martin Luther King Jr.">
    </div>
    <div class="col-md mt-3 mb-5">
      <p>
        Em 14 de outubro de 1964, King ganhou o Prêmio Nobel da Paz por combater o racismo nos Estados Unidos através da
        resistência não-violenta. Em 1965, ele ajudou a organizar as Marchas de Selma a Montgomery. Nos seus últimos
        anos,
        ele ampliou seu ativismo contra a pobreza e a Guerra do Vietnã. O diretor do FBI J. Edgar Hoover achava King um
        radical e fez dele alvo do programa de contrainteligência a partir de 1963. Os agentes do FBI o investigaram por
        possíveis laços comunistas, ameaçaram tornar público suas supostas relações extraconjugais e o denunciaram para
        agentes governamentais e, em 1964, mandaram a King uma carta ameaçadora anônima, o qual ele interpretou como uma
        tentativa de alguém a incentivá-lo a cometer suicídio.
      </p>
      <p>
        Antes de sua morte, King estava planejando uma ocupação em Washington, D.C., que seria denominada Campanha dos
        Pobres, quando ele foi assassinado em 4 de abril de 1968, em Memphis. Sua morte causou forte reação e foi
        seguida
        por manifestações em várias cidades dos Estados Unidos. Alegações que o assassino convicto de King, James Earl
        Ray, ter sido coagido ou agido em conjunto com agentes do governo persistiram por décadas após o tiroteio.
      </p>
      <p>
        King foi premiado postumamente com a Medalha Presidencial da Liberdade e a Medalha de Ouro do Congresso. O Dia
        de
        Martin Luther King foi estabelecido como feriado em cidades e estados dos Estados Unidos a partir de 1971; o
        feriado foi promulgado a nível federal por uma legislação assinada pelo presidente Ronald Reagan em 1986.
        Centenas
        de estradas nos EUA foram renomeadas em sua honra, e um condado em Washington foi dedicado a ele. O Martin
        Luther
        King Jr. Memorial no National Mall em Washington D.C. foi inaugurado em sua homenagem em 2011.
      </p>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4" id="day">Martin Luther King Day</h1>
  </div>
</div>

<div class="container">
  <div class="row container">
    <div class="col-md mt-3 mb-3">
      <p>
        Celebrado toda terceira segunda-feira do mês de janeiro, o Martin Luther King Day – MLK Day é um feriado
        nacional estadunidense em homenagem a Martin Luther King Jr. Oficializado em 1983, a data se aproxima do
        aniversário do principal militante da não violência contra a discriminação racial na legislação norte-americana
        e é um dos três feriados nacionais nos Estados Unidos em comemoração a uma pessoa. Nesta ultima sexta-feira, 15 de
        janeiro de 2021, Martin Luther King completaria 92 anos.
      </p>
      <p>
        A proposta do Martin Luther King Day como feriado foi promovida logo após seu assassinato, em 1968. Após sua
        morte, o representante democrata dos Estados Unidos, John Conyers, e o senador republicano dos Estados Unidos,
        Edward Brooke, apresentaram um projeto no Congresso para tornar o aniversário de King um feriado nacional.
        Somente 15 anos depois que a data passou a ser celebrada, após várias tentativas de grupos que viam Luther King
        como referência na luta negra.
      </p>
      <p>
        Martin Luther King é o autor da celebre frase “I have a dream”, entoada nas escadas do Monumento a Lincoln, na
        cidade de Washington, em 1963, para mais de 250 mil pessoas. Esta foi a manifestação civil mais importante
        promovida por Luther King, que em sua trajetória, percorreu mais de nove milhões de quilômetros, em 13 anos de
        militância, falando mais de 2.500 vezes em público.
      </p>
    </div>
    <div class="col-md mt-3 mb-5">
      <p>
        Nascido em 1929, Luther King foi um pastor batista e um dos principais líderes negro na luta contra a
        discriminação racial nos Estados Unidos. Em suas ações, reivindicava por postos de trabalho e salários mais
        dignos para a população negra que vivia em segregação social. O ativista defendeu ainda os direitos das mulheres
        e foi contrário à Guerra do Vietnã.
      </p>
      <p>
        Um dos episódios que marcaram a trajetória de Luther King foi o boicote aos ônibus da cidade Montgomery, em
        1955, onde foi um dos líderes. O ato de protesto foi em defesa de Rosa Parks, mulher negra presa ao negar ceder
        seu lugar a uma mulher branca no ônibus. O boicote ao transporte permaneceu por 382 dias, entretanto, neste
        período, Martin Luther King foi preso, teve a casa bombardeada e sofreu atentados contra sua vida. O ato
        resultou na vitória do movimento, quando a Suprema Corte Americana tornou ilegal a discriminação racial em
        transportes públicos.
      </p>
      <img src="https://i.imgur.com/26SVGZI.jpg" class="img-fluid" alt="Martin Luther King Jr.">
    </div>
  </div>
</div>
<hr>
<footer class="page-footer font-small bg-light pt-4">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-dark">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li>
            <a href="https://www.facebook.com/witer.mendonca/" target="_blank" class="icoFacebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/witermendonca/" target="_blank" class="icoInstagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/witermendonca/" target="_blank" class="icoLinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://github.com/witermendonca" target="_blank" class="icoGitHub">
              <i class="fa fa-github-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="footer-copyright bg-light text-center py-3">
    <span class="text-dark"> © 2021 Copyright: </span>
    <a class="text-dark" target="_blank" href="">Witer Mendonça</a>
  </div>

</footer>